.no-margin-bottom {
	margin-bottom: 0px!important;
}
.no-margin-top {
	margin-top: 0px!important;
}
.fh {
	height: 100%!important;
}
.bd {
	border: 1px solid black;
}
/* ======================
	LOGIN
========================= */
.login-container {
	background-image: url('/img/web/login/bg.png');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	/*padding: 50px;*/
	display: flex;
	overflow-y: scroll;
}
.success-panel {

}
.login-panel {
	height: 80%;
	width: 100%;
	position: relative;
	/*overflow: scroll;*/
}
.llc,
.lrc {
	height: 100%;
}
.llc {
	flex: 2;
}
.lrc {
	flex: 1;
	margin: auto;
	max-width: 450px;
}
	.llc-c {
		/*width: 100%;*/
		margin: auto;
		border-radius: 20px;
	}
	.llc-c img,
	.llc-c span {
		display: block;
		margin: auto;
		text-align: center;
	}
	.llc-c span {
		line-height: 45px;
		margin-top: 20px;
		font-weight: 900;
		font-size: 30px;
	}
	.llc-c span span {
		font-size: 55px;
	}
.tab-col {
	padding: 20px!important;
	overflow-y: auto;
}
/*======================
	TABS
========================*/
.tabs .tab a:hover, .tabs .tab a.active {
	color: ;
}
/* =====================
	MODAL
====================== */
.modal-content {
	padding-bottom: 5px!important;
}
