/** {
    border: 1px solid black;
    box-sizing: border-box;
}*/

body {
	background-color: #F5F6F7;
	margin-bottom: 0
}


.container {
	width: 90%!important;
	/*width: 1280px;*/
	max-width: 1280px;
}

.container-kelas {

}

.bd {
	border: 1px solid black;
    box-sizing: border-box;
}

/*\\\\\\\\\\\\\\\\\\\\\
  \\\\\\\\\\\\\\\\\
	DASHBOARD CSS
  \\\\\\\\\\\\\\\\\
  \\\\\\\\\\\\\\\\\\\\\
*/

.main-header {
    background-image: url('../img/web/welcome_bg.png');
	height: 220px;
	overflow: hidden;
	/*background-size: contain;*/
	/*background-repeat: no-repeat;*/
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.no-margin-top {
	margin-bottom: 0px;
}

.iklan-img {
	width: 65px;
}

.tutorial-panel {
	background-image: url('/img/web/tutorial-panel.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-color: rgb(204,204,204);
	background-blend-mode: luminosity;
}

.card-kelas > div {
	display: inline-flex;
}

.content {
    margin: 50px 0;
}

.dasar {
    background-color: #17d192;
}

.img-loop {
    background-image: url('images/html-css.png');
}

.gradien {
    background: linear-gradient(to right,rgba(23,209,146,.95) 0,rgba(23,209,146,0) 100%);
}

.btn-menu {
	color: black;
	font-size: 20px;
	height: 40px;
	vertical-align: middle;
	/*border: .5px dashed;*/
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
	/*border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;*/
}

.btn-menu i {
	float: right;
}

#label {
    font-size: 18px;
}

#label-menu {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: .1px;
    margin-bottom: 20px;
    color: #545665;
}

#label-kategori {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .1px;
    margin-bottom: 20px;
    color: #545665;
}

#label-kategori-2 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .1px;
    color: #545665;
    margin-bottom: 15px;
}

#label-kategori-3 {
    font-weight: 600;
    letter-spacing: .1px;
    color: #333333;
    margin-bottom: 15px;
}

.help {
    border-left: 3px solid #add8e6;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 13px;
    font-size: 13px;
    line-height: 21px;
    border-radius: 2px;
    text-align: left;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.04);
}

.card-menu {
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 2px 3px 0 #E6E9EC;
    transition: .1s all ease-in-out;
    width: 100% !important;
	height: 80px;
    margin-bottom: 15px;
    color: #809196;
    border: 1px solid white;
    box-sizing: border-box;
}

.card-menu:hover {
    background: #fff9d9;
    color: #FF7F45;
    border: 1px solid rgba(233,126,11,.58);
    box-sizing: border-box;
    box-shadow: 1px 1px 0 1px rgba(195,195,195,.45);
}

.text-bar {
    color: #20272d;
    font-size: 16px;
    letter-spacing: .57px;
    font-weight: 400;
    line-height: 20px;
}

/*

	KURSUS

*/

#kursus {
    margin: 50px 0 50px 0;
    border-radius: 5px;
    border: 1px solid #e7eaed;
    transition: .2s all ease-in;
    background: #fff;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.04);
    padding: 20px 30px;
}

#kursus-2 {
    border-radius: 5px;
    border: 1px solid #e7eaed;
    transition: .2s all ease-in;
    background: #fff;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.04);
}

.kursus-kursus {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
	position: relative;
	margin-bottom: 15px;
}

#border-bottom {
	position: absolute;
	top: 5px;
	border-radius: 1px;
	border-bottom: 3px solid green;
	width: 30px;
	margin: 0;
}

.kursus-title {
	font-size: 33px;
	font-weight: 300;
	height: 100px !important;
	margin-bottom: 5px;
}

.kursus-mini-detail {
	margin-bottom: 20px;
}

.kursus-detail-header {
	font-size: 30px;
	font-weight: 300;
}

.kursus-detail-content {
	font-size: 16px;
	font-weight: 300;
	margin-top: 15px;
}

.kursus-kanan-head {
	font-size: 30px;
	font-weight: 300;
	color: rgb(79,79,79);
	margin-bottom: 15px;
}

.kursus-kanan-content {

}

.dvd-kursus {
	margin: 10px 0;
}

.apa-yang-anda {
	padding: 10px 5px!important;
}

.kursus-img {
	background-color: white;
	height: 180px;
}

.kursus-img img {
	height: 100%;
	object-fit: contain;
}

.kursus-title {
	margin-top: 10px;
	height: 50px;
	/*border: 1px solid;*/
}

.kursus-buy {
	margin: 10px 0px;
}

.kursus-syarat-header {
	margin: 15px 0;
	font-size: 35px;
	font-weight: 300;
}

.kursus-syarat-content {
	text-align: justify;
}

.kursus-materi-header {
	font-size: 35px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 25px;
}

.owl-item {
	width: 310px!important;
}

.owl-stage-outer {
	width: 100%!important;
}

.card-materi {
	height: 400px;
	overflow: hidden;
	border-radius: 8px;
}

.materi-header {
	font-size: 14px;
	position: relative;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: rgb(99,99,99);
}

	.bdMateri {
		position: absolute;
		top: 36px;
		left: 0;
		height: 60px;
		border: 3px solid rgb(4,139,86);
	}
	.closeMateri {
		position: absolute;
		top: 15px;
		right: 20px;
	}

.materi-title {
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 20px;
}

.materi-content {
	font-size: 15px;
	font-weight: 300;
}

.card-sub-materi {
	position: relative;
	height: 340px;
	overflow: hidden;
}

/*
	KURSUS FREE
*/
.kur-col {
	height: 176px;
}
.kur-col {

}
.kursus-free-img {
	/*height: 100px;
	width: 100px;*/
}
.kursus-free-img img {
	object-fit: contain;
	max-width: 158px;
	width: 100%;
	height: 126px;
}
.kursus-free-title {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
	/*height: 27px;*/
}
.kursus-free-content {
	font-weight: 400;
	font-size: 12px;
	color: rgb(93,93,93);
	height: 72px;
	overflow: hidden;
}
.kursus-free-btn a {
	border-radius: 20px;
}
.kursus-slider {
	position: absolute;
	top: 100%;
	left: 11px;
	z-index: 22;
	background-color: rgba(19,19,19,.94);
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 30px;
	text-align: center;
	vertical-align: middle;
}
.kur-col:hover .kursus-slider {
	top: 0%;
	animation:.3s ease;
}
.kursus-icon {
	font-size: 20px;
}

/*
	BOOKMARK
*/
.bookmark-page-header {
	font-size: 30px;
}
.bookmark-page-content {
	font-size: 18px;
}
.bookmark-a {
	text-decoration: none;
	color: inherit;
	position: relative;
}
.bookmark-panel {
	height: 250px;
	overflow: hidden;
	border-radius: 5px;
}
.bookmark-header {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
	position: relative;
	color: rgb(121,121,121);
	margin-bottom: 5px;
}
.bookmark-title {
	font-size: 25px;
	font-weight: 400;
}
.bookmark-hari {
	margin-bottom: 10px;
	margin-top: -5px;
	color: rgb(133,133,133);
	font-size: 12px;
}
.bookmark-content {
	font-size: 14px;
	font-weight: 300;
	color: rgb(140,140,140);
}
.bookmark-left {
	position: absolute;
	top: 20px;
	left: 0;
	width: 5px;
	height: 40px;
	background-color: rgb(231,175,67);
}
.bookmark-right {
	position: absolute;
	top: 10px;
	right: 10px;
}
.btn-delete-bookmark {
	background-color: inherit;
	box-shadow: none;
	width: 30px;
	height: 30px;
}
.btn-delete-bookmark:hover {
	background-color: inherit;
	border: none;
	border-radius: 4px;
}
.btn-delete-bookmark i {
	color: rgb(96,96,96);
	font-size: 18px;
	margin-top: -10px;
	color: rgb(121,121,121);
}

#item-bookmark {
    border-radius: 5px;
    border: 1px solid #e7eaed;
    transition: .2s all ease-in;
    background: #fff;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.04);
    padding: 10px 30px;
}

#menu-kursus {
    border-right: 1px solid #E0E0E0;
}

#label-kursus {
    color: #738e8d;
    font-weight: 600;
    font-size: 20px;
}

#whoIsTyping {
	display: none;
}

.my-button {
    border-radius: 100px;
    font-size: 12px;
}

.label-bookmark {
    color: #aebdc1;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.0125em;
}

#card-reg {
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 450px;
    min-height: 500px;
    color: rgba(0,0,0,.87);
    direction: ltr;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 20px;
}

/*

	KELAS

*/

.promosi-title {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 10px;
}

.promosi-content {
	text-align: justify;
	font-size: 14px;
	color: rgb(98,98,98);
	line-height: 25px;
}

.promosi-img {
	overflow: hidden;
}

.promosi-img img {
	object-fit: cover;
	width: 100%;
}

.kelas-panel-head {
	font-size: 13px;
	text-transform: uppercase;
	color: rgb(98,98,98);
	letter-spacing: 2px;
	text-shadow: 1px 1px 20px rgb(189,189,189);
}

.latest-title {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
}

.latest-title span {
	font-weight: 500;
	font-size: 20px
}

#latestLeft {
	position: absolute;
	height: 35px;
	width: 4px;
	top: 23px;
	left: 0;
	background-color: rgb(217,159,31);
}

.latest-content {
	font-size: 13px;
	color: rgb(92,92,92);
}

.btn-flat {
	text-transform: uppercase;
	background-color: transparent!important;
	border: 1px solid;
	border-radius: 4px;
	letter-spacing: 1px;
	font-weight: 500;
}

.btn-red {
	color: rgb(213,50,21);
	background-color: rgb(213,50,21);
}

.btn-blue {
	color: rgb(47,140,170);
	background-color: rgb(47,140,170);
}

.btn-flat:hover {
	background-color: transparent;
}

.leftKursusGreen {
	position: absolute;
	top: 20px;
	left: 0;
	width: 10px;
	height: 60px;
	background-color: rgb(33,134,79);
}

.leftKursusRed {
	position: absolute;
	top: 20px;
	left: 0;
	width: 10px;
	height: 60px;
	background-color: rgb(223,89,76);
}

.kelas-kursus-title {
	font-size: 20px;
	font-weight: 500;
	margin-top: -10px;
	color: rgb(51,51,51);
	margin-bottom: 10px;
}

.kelas-kursus-detail {
	font-size: 14px;
	color: rgb(96,96,96);
}

.kelas-materi-materi {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
	position: relative;
	margin-bottom: 5px;
	color: rgb(121,121,121);
}

.kelas-materi-head {
	font-size: 20px;
	font-weight: 500;
	color: rgb(51,51,51);
	margin-bottom: 10px;
}

.kelas-materi-content {
	font-size: 14px;
	color: rgb(96,96,96);
	margin-bottom: 20px;
}

/*.kelas-materi-status {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	height: 50px;
	background-color: red;
	font-weight: 300;
	font-size: 20px;
	text-align: right;
}*/

.kelas-materi-status {
	font-size: 15px;
	font-weight: 300;
}

.kelas-materi-media {
	height: 200px;
}

.kelas-materi-media img {
	margin: auto;
	display: block;
}

.leftKelasMateriGreen {
	position: absolute;
	width: 6px;
	height: 65px;
	background-color: rgb(16,140,99);
	top: 18px;
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.leftKelasMateriGray {
	position: absolute;
	width: 6px;
	height: 65px;
	background-color: rgb(159,159,159);
	top: 18px;
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}


/*
	DETAIL MATERI
*/

.btn-next,
.btn-prev {
	width: 150px;
	height: 70px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	line-height: 70px;
	/*vertical-align: middle;*/
	text-align: center;
	/*padding: 15px 15px;*/
}

.iWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 600px!important;
}
.iWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
	TUGAS
*/

.tugas-header {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
	position: relative;
	margin-bottom: 5px;
	color: rgb(121,121,121);
}
.tugas-title {
	font-size: 20px;
	font-weight: 500;
	color: rgb(51,51,51);
	margin-bottom: 10px;
}
.tugas-content {
	font-size: 14px;
	color: rgb(96,96,96);
	margin-bottom: 20px;
}
.tugas-unggah-jawaban {
	padding-top: 10px;
}
.tugas-unggah-jawaban span {
	font-size: 13px;
	color: rgb(139,139,139);
}
.tugas-unggah-jawaban a {
	font-size: 14px;
	font-weight: bold;
}
.tugas-unggah-jawaban form {
	margin-top: 20px;
}
.tugas-drop {
	font-size: 20px;
}
.section-tugas-head {
	font-size: 25px;
	font-weight: 400;
	padding: 10px 15px;
}
.table-of-contents {
	margin: 0;
}
.leftTugasGreen {
	position: absolute;
	width: 3px;
	height: 30px;
	background-color: rgb(16,140,99);
	top: 20px;
	left: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.leftTugasOrange {
	position: absolute;
	width: 3px;
	height: 30px;
	background-color: rgb(249,180,65);
	top: 20px;
	left: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.tugas-nilai {
	font-weight: 300;
	font-size: 18px;
}
.tugas-jawaban-benar {
	font-size: 14px;
	color: rgb(108,108,107);
}
.tugas-jawaban-benar a {
	font-size: 15px;
	font-weight: bold;
}

/*
	DISKUSI // CHAT // PESAN
*/
.chat-log {
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 15px;
}
.message-from {
	clear: both;
	border: none!important;
	font-size: 11px;
	color: rgb(91,91,91);
}
.message-item {
	border: 1px solid grey;
	padding: 5px 15px;
	border-radius: 15px;
	font-size: 16px;
}
.message-admin {
	float: left;
	border: 1px solid #ff9800;
	clear: both;
}
.message-user {
	float: right;
	border: 1px solid grey;
	clear: both;
}
.row-message {
	margin-bottom: 10px!important;
}

@media only screen and (max-width: 600px) {
    #count {
        font-size: 18px;
    }

    #count2 {
        font-size: 13px;
    }
	.kur-col {
		height: auto;
	}
		.kursus-free-content {
			height: auto;
		}
}

@media only screen and (max-width: 645px) {
	.btn-control {
		/*display: inline;*/
	}
		.btn-ctl {
			/*display: list-item;*/
			padding: 2px 10px;
			margin: 0 auto;
			list-style: none;
			text-align: center;
			border-radius: 0;
		}
			.btn-ctl i {
				float: none!important;
				vertical-align: middle;
			}
}

@media only screen and (max-width: 870px) {
	.section-tugas-head {
		font-size: 20px;
	}
}
