/** {
    border: 1px solid black;
    box-sizing: border-box;
}*/
@font-face {
        font-family: "track";
        src: url('/fonts/track.otf');
}
@font-face {
        font-family: "lovelo";
        src: url('/fonts/lovelo.otf');
}
@font-face {
        font-family: "exo";
        src: url('/fonts/exo.otf');
}
/*@import url('https://fonts.googleapis.com/css?family=Acme|Fira+Sans:900');*/

body {
	background-color: #F5F6F7;
	margin-bottom: 0
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.container {
	width: 90%!important;
	/*width: 1280px;*/
	max-width: 1280px;
}

.container-kelas {

}

.bd {
	border: 5px solid white;
    box-sizing: border-box;
}
.btn-custom {
	padding: 10px 15px;
	font-size: 1.3em;
	border: 1px solid white;
	background-color: transparent;
	color: white;
	margin: 5px;
	/*transition: all 0.3s ease 0;*/
}
.btn-custom > i {
	float: none!important;
	vertical-align: middle;
	font-size: inherit;
}
.btn-custom:hover {
	color: black;
	background-color: white;
	/*border: 1px solid black;*/
}
.btn-custom-large {
	font-size: 1.6em;
}
.btn-custom-revert {
	font-weight: 600;
	padding: 10px 15px;
	font-size: 1.3em;
	border: 1px solid black;
	background-color: transparent;
	color: black;
	margin: 5px;
	/*transition: all 0.3s ease 0;*/
}
.btn-custom-revert:hover {
	color: white;
	background-color: black;
	/*border: 1px solid black;*/
}
/*\\\\\\\\\\\\\\\\\\\\\
  \\\\\\\\\\\\\\\\\
	DASHBOARD CSS
  \\\\\\\\\\\\\\\\\
  \\\\\\\\\\\\\\\\\\\\\
*/

.row-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 85px;
	background-color: #263738;
	z-index: 988!important;
}
.main-header {
    background-image: url('/img/web/main-header.png');
	background-size: cover;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center right;
	/*background-repeat: no-repeat;*/
}
.no-margin-bottom {
	margin-bottom: 0px;
}
.no-margin-top {
	margin-bottom: 0px;
}
.nav-header-title {
	color: white;
	font-size: 3.6em;
	font-family: "track";
	line-height: 70px;
}
.nav-header-p {
	color: white;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.2em;
}
.header-navigation-back {
	position: absolute;
	top: 100px;
	width: 100%;
	text-align: right;
}
.btn-penawaran-container {
	position: absolute;
	bottom: 12px;
	right: 0;
	width: 100%;
	text-align: right;
}
/* =====================
	LIST
====================== */
.list-container {
	background-image: url('/img/web/cari_kursus.png');
	background-position: top;
	background-size: cover;
	margin-top: -1px;
	height: calc(100vh + 1px);
	border-bottom: 5px dashed white;
}
.kursus-link-header {
	font-weight: 300;
	color: rgb(94,94,94);
	font-size: 14px;
	font-style: italic;
}
.kursus-link-container {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	border-radius: 4px;
}
ul.pagination {
	margin-bottom: 5px!important;
}
/* ============================
	===========================
	MAIN KURSUS
	===========================
=============================== */
.main-kursus {
	background-image: url('/img/web/main-kursus.png');
	background-size: cover;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: bottom left;
	position: relative;
	display: flex;
	flex-direction: column;
}
.main-kursus > div {
	flex: 1;
}
.main-kursus-title {
	font-family: "lovelo";
	font-size: 3em;
}
.main-kursus-subtitle {
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 2px;
	margin-top: 15px;
	margin-bottom: 35px;
}
.mkt-a {
	font-size: 1.2em;
	color: white;
}
.kursus-3-container {
	/*height: 75%;*/
	/*border: 3px solid rgb(228,226,226);*/
	border: 3px solid white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	/*overflow: hidden;*/
}
.kursus-3-container > div {
	/*flex: 1;*/
}
.main-control {
	/*height: 100%;*/
}
.main-right-control,
.main-left-control {
	flex: 1;
}
.main-center-control {
	padding: 0 15px;
}
.main-control > a {
	background-color: white;
	border: 1px solid white;
	padding: 10px 15px;
	text-transform: uppercase;
	font-weight: 800;
	color: black;
}
.main-control a i {
	float: right;
}
.slick-prev {
	left: -65px!important;
}
.slick-next {
	right: -45px!important;
}
.slick-prev:before, .slick-next:before {
	font-size: 40px!important;
}
.slick--carouse {

}
.s-items {
	/*margin: 0 10px;*/
	height: 400px!important;
	text-align: center;
	overflow: hidden;
	color: black;
	background-color: white;
}
	.si-image > img {
		width: 100%;
		height: 300px;
		margin: auto;
		object-fit: cover;
		border-bottom: 3px solid rgb(84,84,84);
	}
	.si-title {
		font-size: 40px;
		font-weight: 600;
		font-family: "exo";
		line-height: 80px;
		height: 70px;
		letter-spacing: 2px;
		overflow: hidden;
		vertical-align: middle;
		position: relative;
	}
		.si-title a {
			color: black;
		}
	.border {
		width: 200px;
		height: 2px;
		background-color: black;
		right: calc(50% - 100px)!important;
		bottom: 4px;
		border-radius: 3px;
		position: absolute;
		right: 0;
	}
	.si-price {
		font-style: italic;
		font-weight: 100;
		height: 30px;
		line-height: 30px;
		font-size: 14	px!important;
	}
.main-kursus-border {
	background-image: url('/img/web/main-kursus-border.png');
	background-position: top;
	background-size: cover;
	height: 300px;
	width: 100%;
	margin-top: -5px;
}
.main-expert {
	/*height: 630px;*/
	width: 100%;
	margin-top: -5px;
	flex-direction: column;
}
.expert-top {
	background-image: url('/img/web/expert/bg.png');
	background-position: bottom center;
	background-size: 100%, auto, cover;
	background-repeat: no-repeat;
	height: 460px;
}
.expert-bottom {
	margin-top: -2px;
	padding-bottom: 80px;
	background-color: #2C3D55;
}
.expert-title {
	/*flex: 1;*/
	font-family: "track";
	font-weight: 600;
	font-size: 50px;
	text-align: center;
	margin-top: -30px;
}
.expert-divider {
	flex: 5;
}
.expert-content {
	color: white;
	text-align: center;
	margin-top: -2px;
	margin-bottom: 35px;
	font-weight: 200;
	font-size: 18px;
}
	.expert-content a {
		font-weight: 400;
		border-width: 2px;
	}
	.ec-image {
		/*width: 100%;*/
		margin-top: -350px;
		display: flex;
		flex-direction: row;
	}
	.ec-image > div > img {
		width: 100%;
	}
		.ec-img-pensil {
			flex: 1;
			position: relative;
		}
			.ec-img-pensil img {
				position: absolute;
				width: 165px!important;
				bottom: 0;
				left: calc(50% - 70px)!important;
			}
		.ec-img-laptop {
			flex: 4;
		}
		.ec-img-kopi {
			flex: 1;
			position: relative;
		}
			.ec-img-kopi img {
				position: absolute;
				width: 80%!important;
				bottom: 0;
				left: calc(50% - 70px)!important;
			}
	.ec-text {
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.ec-button {
		margin-top: 20px;
	}
.expert-end {
	flex: .5;
}
/*.main-expert-below {
	height: 10px;
	background-color: #2C3E52;
}
	.main-expert-below img {
		width: 100%;
		margin-top: -65px;
	}*/
.main-kelas-container {
	/*background-color: #2C3E52;*/
}
.main-kelas {
	/*display: flex;
	flex-flow: row;*/
	/*height: 650px;*/
	/*background-color: #2C3E52;*/
	padding: 25px 0;
}
	.mk-img-container img {
		width: 600px;
		margin-top: -130px;
		margin-left: -250px;
		z-index: 111;
		/*margin-left: */
		/*flex: 3;*/
		/*background-image: url('/img/web/kelas/bg.png');*/
		/*background-position: left;
		background-size: contain;
		background-repeat: no-repeat;*/
	}
	.mk-content-container {
		flex: 5;
		display: flex;
		flex-flow: column;
		text-align: left;
		color: black;
		justify-content: center;
	}
		.mkc-flex-container {
			flex: 6;
		}
			.mkc-header {
				font-family: "track";
				font-weight: 500;
				font-size: 65px;
			}
			.mkc-content {
				/*margin-top: 20px;*/
				font-weight: 200;
				font-size: 18px;
			}
			.mkc-action {
				margin-top: 25px;
			}
				.mkc-action a {
					color : black!important;
					border-color: black;
				}
		.mkc-flex-spring {
			flex: .5;
		}
	.mk-spring {
		flex: .4;
	}
/*
	==========================
	TUTORIAL
	==========================
*/
.main-tutor-container {
	background-color: #2C3D55;
	margin-top: -100px;
	color: white;
	border-bottom: 5px dashed white;
}
	.mt-top {
		/*height: 200px;*/
		margin-top: 30px;
		text-align: center;
		margin-bottom: 30px;
	}
		.mt-top h3 {
			font-family: "track";
			font-size: 55px;
		}
	.mt-bottom {
		max-width: 900px!important;
		margin: auto;
		margin-bottom: 40px;
	}
		.tabs-item {
			height: 350px;
			border: 1px solid white;
			color: white;
			text-align: center;
		}
		.tabs-item p {
			font-size: 22px;
			font-weight: 300;
			text-align: center;
		}
		.tabs-item p a {
			font-weight: 600;
			letter-spacing: 1px;
		}
		.tabs-icon {
			font-size: 150px!important;
		}
		.tabs li a {
			color: black!important;
			font-weight: 500;
		}
		.tabs .indicator {
			background-color: rgb(33,33,33);
			height: 3px;
		}
/*======== END TUTORIAL ======*/
/*============================*/

/*
	FOOTER
*/
.ft-header {
	font-family: "track";
	font-weight: 500;
	font-size: 3.3em;
}
.ft-subheader {
	font-weight: 200;
	margin: 0;
}
.ft-kontak {
	font-family: "lovelo";
	font-size: 3.3em;
}
.ft-copyright {
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}
.ft-top {
	background-color: #2C3D55;
}
.ft-bot {
	padding: 10px 0;
	background-color: #212C3E;
}
.page-footer {
	margin-top: 100px;
	border-top: 5px dashed white;
}
/*===========================*/
/*===========================*/
/*BORDER*/
.bordered {
	display: inline-block;
	padding: 20px;
	border: dashed 4px #000;
	border-image-source: url("http://i.stack.imgur.com/wLdVc.png");
	border-image-slice: 2;
	border-image-repeat: round;
	border-image: url("http://i.stack.imgur.com/wLdVc.png") 2 round;
}
.largeGaps {
	border-color: white;
	border-image-source: url("http://i.stack.imgur.com/LKclP.png");
	margin: 0 20px;
}
/********/
.floating-img-1 {
	position: absolute;
	top: -30px;
	left: -4%;
	width: 150px;
	height: 120px;
	transform: rotate(-15deg);
	z-index: 20;
	background-image: url('/img/web/text-editor.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.floating-img-1 img {
	/*width: 150px;*/
}
/*********************************/
.iklan-img {
	width: 65px;
}

.tutorial-panel {
	background-image: url('/img/web/tutorial-panel.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-color: rgb(204,204,204);
	background-blend-mode: luminosity;
}

.card-kelas {
	/*margin: 0!important;*/
	margin-top: 25px;
	margin-bottom: 25px;
}

.kelas-image {

}
.kelas-text {

}
.kelas-title {
	font-size: 30px;
	margin-bottom: 5px;
}
.kelas-content {
	font-size: 13px;
	color: rgb(93,93,93);
	font-weight: 400;
}
.kelas-button {
	padding: 15px;
}

.content {
    margin: 50px 0;
}

.dasar {
    background-color: #17d192;
}

.img-loop {
    background-image: url('images/html-css.png');
}

.gradien {
    background: linear-gradient(to right,rgba(23,209,146,.95) 0,rgba(23,209,146,0) 100%);
}

.btn-menu {
	color: black;
	font-size: 20px;
	height: 40px;
	vertical-align: middle;
	/*border: .5px dashed;*/
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
	/*border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;*/
}

.btn-menu i {
	float: right;
}

#label {
    font-size: 18px;
}

#label-menu {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: .1px;
    margin-bottom: 20px;
    color: #545665;
}

#label-kategori {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .1px;
    margin-bottom: 20px;
    color: #545665;
}

#label-kategori-2 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .1px;
    color: #545665;
    margin-bottom: 15px;
}

#label-kategori-3 {
    font-weight: 600;
    letter-spacing: .1px;
    color: #333333;
    margin-bottom: 15px;
}

.help {
    border-left: 3px solid #add8e6;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 13px;
    font-size: 13px;
    line-height: 21px;
    border-radius: 2px;
    text-align: left;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.04);
}

.card-menu {
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 2px 3px 0 #E6E9EC;
    transition: .1s all ease-in-out;
    width: 100% !important;
	height: 80px;
    margin-bottom: 15px;
    color: #809196;
    border: 1px solid white;
    box-sizing: border-box;
}

.card-menu:hover {
    background: #fff9d9;
    color: #FF7F45;
    border: 1px solid rgba(233,126,11,.58);
    box-sizing: border-box;
    box-shadow: 1px 1px 0 1px rgba(195,195,195,.45);
}

.text-bar {
    color: #20272d;
    font-size: 16px;
    letter-spacing: .57px;
    font-weight: 400;
    line-height: 20px;
}

/*
	HISTORI
*/
.histori-head {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
	position: relative;
	margin-bottom: 5px;
	color: rgb(121,121,121);
}
.histori-title {
	font-size: 20px;
	font-weight: 500;
	color: rgb(51,51,51);
	margin-bottom: 10px;
}
.histori-content {
	font-size: 14px;
	color: rgb(96,96,96);
	margin-bottom: 20px;
}
.histori-left-green {
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 15px;
	background-color: rgb(81,209,97);
}
.histori-left-orange {
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 15px;
	background-color: rgb(232,219,50);
}
.histori-left-red {
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 15px;
	background-color: rgb(223,36,30);
}
.histori-right {
	bottom: 0;
	right: 0;
}

/* ============================
	===========================
	DETAIL KURSUS
	===========================
=============================== */
.DKC {
	overflow: hidden;
}
.detail-kursus-container {
	padding-top: 85px;
	height: 100vh;
	display: flex;
	position: relative;
	overflow: hidden!important;
}
.container-kursus {
	flex: 1;
	display: flex;
	flex-direction: row;
	z-index: 3;
}
.dk-main-lk,
.dk-main-rk {
	flex: 1;
	display: flex;
}
.dk-img-container {
	width: 100%;
	float: right;
	text-align: center;
	/*position: relative;*/
}
.dk-bg-miring {
	position: absolute;
	top: 17vw;
	left: -90vw;
	height: 600px;
	width: 200vw;
	background-color: white;
	transform: rotate(-15deg);
	z-index: 3;
}
.dk-img	 {
	/*position: absolute;
	left: calc(50% - 210px);*/
	width: 420px;
	height: 420px;
	z-index: 57;
}

.kursus-kursus {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
	position: relative;
	margin-bottom: 15px;
}

#border-bottom {
	position: absolute;
	top: 2px;
	border-radius: 1px;
	border-bottom: 3px solid green;
	width: 30px;
	margin: 0;
}

.kursus-title {
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 1px;
	font-size: 63px;
	height: 50px!important;
	width: 100%;
	line-height: 50px;
	margin-bottom: 5px;
}
.label-kursus {
	display: table-cell;
	vertical-align: middle;
    color: #636363;
    font-weight: 500;
    font-size: 18px;
}

.kursus-mini-detail {
	margin-bottom: 20px;
}

.kursus-detail-header {
	font-size: 30px;
	font-weight: 300;
}

.kursus-detail-content {
	font-size: 16px;
	font-weight: 300;
	margin-top: 15px;
	display: flex;
}
	.kdc-img {
		flex: 1;
		/*width: 300px;*/
	}
	.kdc-img img {
		width: 300px;
	}
	.kdc-p {
		flex: 2;
	}
.kursus-kanan-head {
	font-size: 30px;
	font-weight: 300;
	color: rgb(79,79,79);
	margin-bottom: 15px;
}

.kursus-kanan-content {

}

.dvd-kursus {
	margin: 10px 0;
}

.apa-yang-anda {
	padding: 10px 5px!important;
}

.kursus-img {
	background-color: white;
	height: 180px;
}

.kursus-img img {
	height: 100%;
	object-fit: contain;
}

.kursus-title {
	margin-top: 10px;
	height: 50px;
	/*border: 1px solid;*/
}

.kursus-buy {
	margin: 10px 0px;
}

.kursus-syarat-header {
	margin: 15px 0;
	font-size: 35px;
	font-weight: 300;
}

.kursus-syarat-content {
	text-align: justify;
}

.kursus-materi-header {
	font-size: 35px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 25px;
}

.mt-items {
	width: 310px!important;
	margin: 0 10px;
}

.card-materi {
	height: 400px;
	overflow: hidden;
	border-radius: 8px;
}

.materi-header {
	font-size: 14px;
	position: relative;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: rgb(99,99,99);
}

	.bdMateri {
		position: absolute;
		top: 36px;
		left: 0;
		height: 60px;
		border: 3px solid rgb(4,139,86);
	}
	.closeMateri {
		position: absolute;
		top: 15px;
		right: 20px;
	}

.materi-title {
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 20px;
}

.materi-content {
	font-size: 15px;
	font-weight: 300;
}

.card-sub-materi {
	position: relative;
	height: 340px;
	overflow: hidden;
}

/*
	KURSUS FREE
*/
.kur-col {
	height: 176px;
}
.kur-col {

}
.kursus-free-img {
	/*height: 100px;
	width: 100px;*/
}
.kursus-free-img img {
	object-fit: contain;
	max-width: 158px;
	width: 100%;
	height: 126px;
}
.kursus-free-title {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
	/*height: 27px;*/
}
.kursus-free-content {
	font-weight: 400;
	font-size: 12px;
	color: rgb(93,93,93);
	height: 72px;
	overflow: hidden;
}
.kursus-free-btn a {
	border-radius: 20px;
}
.kursus-slider {
	position: absolute;
	top: 100%;
	left: 11px;
	z-index: 22;
	background-color: rgba(19,19,19,.94);
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 30px;
	text-align: center;
	vertical-align: middle;
}
.kur-col:hover .kursus-slider {
	top: 0%;
	animation:.3s ease;
}
.kursus-icon {
	font-size: 20px;
}

/*
	BOOKMARK
*/
.bookmark-page-header {
	font-size: 30px;
}
.bookmark-page-content {
	font-size: 18px;
}
.bookmark-a {
	text-decoration: none;
	color: inherit;
	position: relative;
}
.bookmark-panel {
	height: 250px;
	overflow: hidden;
	border-radius: 5px;
}
.bookmark-header {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
	position: relative;
	color: rgb(121,121,121);
	margin-bottom: 5px;
}
.bookmark-title {
	font-size: 25px;
	font-weight: 400;
}
.bookmark-hari {
	margin-bottom: 10px;
	margin-top: -5px;
	color: rgb(133,133,133);
	font-size: 12px;
}
.bookmark-content {
	font-size: 14px;
	font-weight: 300;
	color: rgb(140,140,140);
}
.bookmark-left {
	position: absolute;
	top: 20px;
	left: 0;
	width: 5px;
	height: 40px;
	background-color: rgb(231,175,67);
}
.bookmark-right {
	position: absolute;
	top: 10px;
	right: 10px;
}
.btn-delete-bookmark {
	background-color: inherit;
	box-shadow: none;
	width: 30px;
	height: 30px;
}
.btn-delete-bookmark:hover {
	background-color: inherit;
	border: none;
	border-radius: 4px;
}
.btn-delete-bookmark i {
	color: rgb(96,96,96);
	font-size: 18px;
	margin-top: -10px;
	color: rgb(121,121,121);
}

#item-bookmark {
    border-radius: 5px;
    border: 1px solid #e7eaed;
    transition: .2s all ease-in;
    background: #fff;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.04);
    padding: 10px 30px;
}

#menu-kursus {
    border-right: 1px solid #E0E0E0;
}

#whoIsTyping {
	display: none;
}

.my-button {
    border-radius: 100px;
    font-size: 12px;
}

.label-bookmark {
    color: #aebdc1;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.0125em;
}

#card-reg {
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 450px;
    min-height: 500px;
    color: rgba(0,0,0,.87);
    direction: ltr;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 20px;
}

/*

	KELAS

*/

.promosi-title {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 10px;
}

.promosi-content {
	text-align: justify;
	font-size: 14px;
	color: rgb(98,98,98);
	line-height: 25px;
}

.promosi-img {
	overflow: hidden;
}

.promosi-img img {
	object-fit: cover;
	width: 100%;
}

.kelas-panel-head {
	font-size: 13px;
	text-transform: uppercase;
	color: rgb(98,98,98);
	letter-spacing: 2px;
	text-shadow: 1px 1px 20px rgb(189,189,189);
}

.latest-title {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
}

.latest-title span {
	font-weight: 500;
	font-size: 20px
}

#latestLeft {
	position: absolute;
	height: 35px;
	width: 4px;
	top: 23px;
	left: 0;
	background-color: rgb(217,159,31);
}

.latest-content {
	font-size: 13px;
	color: rgb(92,92,92);
}

.btn-flat-custom {
	text-transform: uppercase;
	background-color: transparent!important;
	border: 1px solid;
	border-radius: 4px;
	letter-spacing: 1px;
	font-weight: 500;
	padding: 10px 15px;
}

.btn-red {
	color: rgb(213,50,21);
	background-color: rgb(213,50,21);
}

.btn-blue {
	color: rgb(47,140,170);
	background-color: rgb(47,140,170);
}

.btn-flat:hover {
	background-color: transparent;
}

.leftKursusGreen {
	position: absolute;
	top: 20px;
	left: 0;
	width: 10px;
	height: 60px;
	background-color: rgb(33,134,79);
}

.leftKursusRed {
	position: absolute;
	top: 20px;
	left: 0;
	width: 10px;
	height: 60px;
	background-color: rgb(223,89,76);
}

.kelas-kursus-title {
	font-size: 20px;
	font-weight: 500;
	margin-top: -10px;
	color: rgb(51,51,51);
	margin-bottom: 10px;
}

.kelas-kursus-detail {
	font-size: 14px;
	color: rgb(96,96,96);
}

.kelas-materi-materi {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
	position: relative;
	margin-bottom: 5px;
	color: rgb(121,121,121);
}

.kelas-materi-head {
	font-size: 20px;
	font-weight: 500;
	color: rgb(51,51,51);
	margin-bottom: 10px;
}

.kelas-materi-content {
	font-size: 14px;
	color: rgb(96,96,96);
	margin-bottom: 20px;
}

/*.kelas-materi-status {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	height: 50px;
	background-color: red;
	font-weight: 300;
	font-size: 20px;
	text-align: right;
}*/

.kelas-materi-status {
	font-size: 15px;
	font-weight: 300;
}

.kelas-materi-media {
	height: 200px;
}

.kelas-materi-media img {
	margin: auto;
	display: block;
}

.leftKelasMateriGreen {
	position: absolute;
	width: 6px;
	height: 65px;
	background-color: rgb(16,140,99);
	top: 18px;
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.leftKelasMateriGray {
	position: absolute;
	width: 6px;
	height: 65px;
	background-color: rgb(159,159,159);
	top: 18px;
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}


/*
	DETAIL MATERI
*/

.btn-next,
.btn-prev {
	width: 150px;
	height: 70px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	line-height: 70px;
	/*vertical-align: middle;*/
	text-align: center;
	/*padding: 15px 15px;*/
}

.iWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 600px!important;
}
.iWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
	TUGAS
*/

.tugas-header {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
	position: relative;
	margin-bottom: 5px;
	color: rgb(121,121,121);
}
.tugas-title {
	font-size: 20px;
	font-weight: 500;
	color: rgb(51,51,51);
	margin-bottom: 10px;
}
.tugas-content {
	font-size: 14px;
	color: rgb(96,96,96);
	margin-bottom: 20px;
}
.tugas-unggah-jawaban {
	padding-top: 10px;
}
.tugas-unggah-jawaban span {
	font-size: 13px;
	color: rgb(139,139,139);
}
.tugas-unggah-jawaban a {
	font-size: 14px;
	font-weight: bold;
}
.tugas-unggah-jawaban form {
	margin-top: 20px;
}
.tugas-drop {
	font-size: 20px;
}
.section-tugas-head {
	font-size: 25px;
	font-weight: 400;
	padding: 10px 15px;
}
.table-of-contents {
	margin: 0;
}
.leftTugasGreen {
	position: absolute;
	width: 3px;
	height: 30px;
	background-color: rgb(16,140,99);
	top: 20px;
	left: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.leftTugasOrange {
	position: absolute;
	width: 3px;
	height: 30px;
	background-color: rgb(249,180,65);
	top: 20px;
	left: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.tugas-nilai {
	font-weight: 300;
	font-size: 18px;
}
.tugas-jawaban-benar {
	font-size: 14px;
	color: rgb(108,108,107);
}
.tugas-jawaban-benar a {
	font-size: 15px;
	font-weight: bold;
}

/*
	DISKUSI // CHAT // PESAN
*/
.chat-log {
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 15px;
}
.message-from {
	clear: both;
	border: none!important;
	font-size: 11px;
	color: rgb(91,91,91);
}
.message-item {
	border: 1px solid grey;
	padding: 5px 15px;
	border-radius: 15px;
	font-size: 16px;
}
.message-admin {
	float: left;
	border: 1px solid #ff9800;
	clear: both;
}
.message-user {
	float: right;
	border: 1px solid grey;
	clear: both;
}
.row-message {
	margin-bottom: 10px!important;
}

/*--------------------*/
/*--- Style Button ---*/
/*--------------------*/
.button-nav {
	border: 1px solid white;
	padding: 7px 20px;
	font-size: 1.2em;
	background-color: transparent;
	margin-right: 10px;
	color: white;
	border-radius: 3px;
	transition: all 0.4s ease 0s;
}
.button-nav:hover {
	background-color: white;
	color: black;
}
.button-nav-left {
	margin-right: 15px!important;
}
.button-main-header {
	border: 2px solid #ef6c00;
	padding: 7px 20px;
	font-size: 1.2em;
	background-color: transparent;
	border-radius: 2px;
	color: white;
	transition: all 0.4s ease 0s;
}

.button-main-header:hover {
	background-color: #ef6c00;
	color: white;
}

.button-ku2 {
	border: 1px solid #43496D;
	padding: 7px 20px;
	font-size: 15px;
	background-color: transparent;
	border-radius: 2px;
	color: #43496D;
	transition: all 0.3s ease 0s;
}

.button-ku2:hover {
	background-color: #C98F2C;
	color: white;
}

/** {
	border: 1px solid black;
	box-sizing: border-box;
}*/

/*------------------------*/
/*--- End Style Button ---*/
/*------------------------*/
/*----------------------*/
/*--- Content Border ---*/
/*----------------------*/

.content-border {
	border: 5px solid transparent;
	box-sizing: border-box;
	margin: 10px;
	transition: all 0.3s ease 0s;
}

.content-border:hover {
	border: 5px solid white;
}

.garis {
	margin: auto;
    width: 50px;
	height: 3px;
    border: 0.05em solid #8bc6e7;
	border-image: linear-gradient(to left, #3acfd5 0%, #8d8bf2 100%);
    border-image-slice: 1;
    border-radius: 1px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.garis2 {
	margin: auto;
    width: 50px;
	height: 3px;
    border: 0.05em solid white;
    border-image-slice: 1;
    border-radius: 1px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.kotak {
	border: 5px solid #8bc6e7;
	border-image: linear-gradient(to left, #3acfd5 0%, #8d8bf2 100%);
	border-image-slice: 1;
}

/*--------------------------*/
/*--- End Content Border ---*/
/*--------------------------*/

@media only screen and (max-width: 600px) {
    #count {
        font-size: 18px;
    }

    #count2 {
        font-size: 13px;
    }
	.kur-col {
		height: auto;
	}
		.kursus-free-content {
			height: auto;
		}
}

@media only screen and (max-width: 645px) {
	.btn-control {
		/*display: inline;*/
	}
		.btn-ctl {
			/*display: list-item;*/
			padding: 2px 10px;
			margin: 0 auto;
			list-style: none;
			text-align: center;
			border-radius: 0;
		}
			.btn-ctl i {
				float: none!important;
				vertical-align: middle;
			}
}

@media only screen and (max-width: 870px) {
	.section-tugas-head {
		font-size: 20px;
	}
}
